
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8eeca77aac1241e6ac27737128da128f"}'></script>
    <!-- Umami Web Alanytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="cdefa221-abd2-4f32-a170-5d63eb314c6b"></script>
    {{ template "_internal/google_analytics.html" . }}
